<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="/css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}">
	<title>Pictgram</title>
</head>

<body>
	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span
			th:text="${message}"></span>
	</div>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<footer class="footer" th:if="${hasFooter}">
     <div class="container">
       <div class="row">
         <div class="col-md-4">
           <a href="https://hb.afl.rakuten.co.jp/ichiba/362bb461.b978a12d.362bb462.adf37443/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Ff282201-kasai%2F56980210%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjEyOHgxMjgiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/362bb461.b978a12d.362bb462.adf37443/?me_id=1362547&item_id=10000295&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_gold%2Ff282201-kasai%2Fproduct%2Fichiba%2Fwaldc_s1a.jpg%3F_ex%3D128x128&s=128x128&t=pict" border="0" style="margin:2px" alt="" title=""></a>
         </div>
         <div class="col-md-4">
           <a href="https://hb.afl.rakuten.co.jp/ichiba/362bb1f8.6a73800b.362bb1f9.d9295b64/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fsmile88%2Fa12382%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjEyOHgxMjgiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/362bb1f8.6a73800b.362bb1f9.d9295b64/?me_id=1221746&item_id=10064472&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fsmile88%2Fcabinet%2Fmaster%2Fsale_1011%2Fa12382.jpg%3F_ex%3D128x128&s=128x128&t=pict" border="0" style="margin:2px" alt="" title=""></a>
         </div>
         <div class="col-md-4">
           <a href="https://hb.afl.rakuten.co.jp/ichiba/362bb5e1.95d67245.362bb5e2.b9f03d6e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Flow-ya%2Fa185%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjEyOHgxMjgiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/362bb5e1.95d67245.362bb5e2.b9f03d6e/?me_id=1209653&item_id=10010881&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Flow-ya%2Fcabinet%2Fitem_cart%2Fstorage%2F02%2Fcumix_top_01.jpg%3F_ex%3D128x128&s=128x128&t=pict" border="0" style="margin:2px" alt="" title=""></a>
         </div>
       </div>
     </div>
   </footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
	<script th:inline="javascript">
		window.OneSignal = window.OneSignal || [];
		OneSignal.push(function () {
			OneSignal.init({
				appId: /*[[${@environment.getProperty('onesignal.id')}]]*/,
			});
		});
	</script>
	<script>
		$(function () {
			convertMethod('.convert');
			$(".alert").fadeOut(5000);
		});
	</script>
</body>

</html>